html,body{
    margin: 0;
    padding: 0;
    position: relative;
    font-family: 'Oswald', sans-serif;
    scroll-behavior: smooth;
}

#main{
    margin: 0;
    height: 100vh;
    background: #000;
}
#header{
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
    font-size: x-large;
    background: rgb(13, 13, 37);
    font-family: 'Oswald', sans-serif;
    height: 100px;
}
#header nav{
    display: flex;
    gap: 30px;
    padding-right: 70px;
}
#header p{
    padding-left: 70px;
}
a{
    text-decoration: none;
    color: white;
}
#article{
    display: flex;
    align-self: center;
    color: white;
    justify-content: center;
    height: calc(100vh - 100px);
    font-family: 'Oswald', sans-serif;
}
.articleR{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.articleR img{
    width: 400px;
    height: 400px;
    border: 2px solid rebeccapurple;
    box-shadow: 0 0 15px 15px rebeccapurple;
    border-radius: 50%;

}
#articleL{
    display: flex;
    width: 40%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    /* border: 2px solid red; */
    overflow: hidden;
}
.title{
    font-size: xx-large;
    margin: 0;
    transform: translateX(-100%);
    overflow: hidden;
}
#name{
    font-size: 60px;
    margin: 0;
    color:burlywood;
    /* border: 2px solid red; */
    overflow: hidden;
}
#name p{
    /* border: 2px solid red; */
    margin: 0;
    transform: translateY(100%);
}
#disc{
    /* border: 2px solid red; */
    /* margin-bottom: auto; */
    overflow: hidden;
    /* margin: 0; */
}
#disc p{
    transform: translateY(-100%);
    margin: 0;
    /* border: 2px solid red; */
}

#social{
    display: flex;
    gap: 30px;
    transform: translateY(100%);
}
#button{
    width: 150px;
    height: 30px;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: rgb(13, 13, 37);
    margin-top: 30px;
    transform: translateX(360%);
}

#article2{
    display: flex;
    align-self: center;
    color: white;
    justify-content: center;
    height: 100vh;
}
#about{
    width: 50%;
    /* border: 2px solid red; */
    text-align: center;
    font-size: large;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
#about h2{
    text-align: left;
    color: burlywood;
}

#main2{
    margin: 0;
    height: 100vh;
    background: #000;
}

.link{
    opacity: 0;
}

.main3{
    margin: 0;
    height: 100vh;
    background: #000;
}

.myinput {
    /* background: linear-gradient(to right, #061818 0%, #061818 10%, #fff 10%, #fff 100%); */
    /* background: #000; */
    border: solid 1px #061818;
    border-radius: 8px;
    height: 7px;
    width: 356px;
    outline: none;
    transition: all 450ms ease-in;
    -webkit-appearance: none;
  }

  input[type="range"]::-webkit-slider-thumb {
    display: none;
}
input[type="range"]::-moz-range-thumb {
    display: none;
}
input[type="range"]::-ms-thumb {
    display: none;
}
input[type="range"] {
    transition-property: value;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
  } 


#popUp{
    position: absolute;
    height: 70vh;
    width:70vw;
    margin: auto;
    color: white;
    display: flex;
    
}
#skillC{
    display: flex;
}
.heading{
      /* border: 2px solid red; */
      color: white;
      font-size: 3vw;
      text-align: center;
      margin-bottom: 20px;
      padding: 20px;
  }
  .heading p{
    margin: 0;
  }
.skillbox{
    /* border: 2px solid red; */
    width: 50%;
    
}
.skillbox p{
    margin: 0;
}
.skillboxH{
    text-align: center;
    color: white;
    font-size: x-large;
    text-decoration: underline;
}
.skillRange{
      /* border: 2px solid red; */
      color: white;
      width: 60%;
      margin: 25px auto;
      /* display: flex; */
  }

.skillRange i{
    margin:10px 0;
}


#projectB{
    display: flex;
    /* gap: 20px; */
    align-items: center;
    justify-content: space-around;
    width: 100%;
    /* height: 100%; */
    /* border: 2px solid rebeccapurple; */
    margin-top: 150px;
    flex-wrap: wrap;
}

.projectC{
    width: 25%;
    /* height: 500px; */
    background: rebeccapurple;
    cursor: pointer;
    transition:all 0.5s ease-in-out;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    min-width: 400px;
}
.projectC img{
    border-radius: 8px;
    width: 100%;
    height: 250px;
    background-size: cover;
}
.projectC:hover{
    box-shadow: 0px -0px 8px 1px rebeccapurple;
    scale: 1.03;
}

label{
    /* background: rebeccapurple; */
    /* position: absolute; */
    right: 10px;
}

.rangeDiv{
    display: flex;
    flex-direction: column;
    /* border: 3px solid red; */
    overflow: hidden;
    /* position: relative; */
}

.rangeDiv #rangeV{
    /* transform: translateX(100%); */
    /* background: red; */
    /* position: absolute; */
    width: 78%;
}


@media screen and (max-width: 500px) {
    /* Your styles go here */
    body {
      background-color: lightblue;
    }
    #header nav{
        display: none;
    }
  }